In [32]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split

In [33]:
df = pd.read_csv("../data/raw/coches.csv")

In [34]:
len(df['version'].unique())

17397

In [35]:
deleted = df.drop(['price_financed', 'url', 'company', "country", "dealer", "photos", "province", "publish_date", "insert_date"],  axis=1)

In [36]:
deleted['make'] = deleted['make'].replace('IVECO-PEGASO', 'IVECO')

In [37]:
deleted['make'].unique()

array(['SEAT', 'CITROEN', 'FORD', 'VOLKSWAGEN', 'PEUGEOT', 'LAND-ROVER',
       'HONDA', 'NISSAN', 'MERCEDES-BENZ', 'FIAT', 'SKODA', 'BMW',
       'MAZDA', 'OPEL', 'AUDI', 'VOLVO', 'MITSUBISHI', 'RENAULT', 'KIA',
       'DACIA', 'HYUNDAI', 'JEEP', 'SUZUKI', 'CHEVROLET', 'SSANGYONG',
       'ABARTH', 'SMART', 'JAGUAR', 'TOYOTA', 'PORSCHE', 'SAAB', 'MINI',
       'CHRYSLER', 'MG', 'IVECO', 'DS', 'CADILLAC', 'INFINITI',
       'ASTON MARTIN', 'ALFA ROMEO', 'LEXUS', 'DODGE', 'TESLA',
       'DR AUTOMOBILES', 'LANCIA', 'SUBARU', 'DAEWOO', 'BENTLEY',
       'MASERATI', 'GALLOPER', 'ISUZU', 'ROVER', 'CUPRA', 'VAZ', 'DFSK',
       nan, 'PONTIAC', 'FERRARI', 'MAHINDRA', 'TATA', 'CORVETTE',
       'ALPINE', 'LAMBORGHINI', 'LOTUS', 'HUMMER', 'SANTANA', 'LADA',
       'DAIHATSU', 'UMM', 'AUSTIN', 'MAXUS', 'MORGAN', 'ARO', 'PIAGGIO',
       'LDV'], dtype=object)

In [38]:
from scipy import stats

# Detección por Puntuación Z
precios = deleted["price"]
zscores = np.abs(stats.zscore(precios))
outliers_z = np.where(zscores > 3)[0]

# Elimina outliers por Puntuación Z
deleted = deleted.drop(deleted.index[outliers_z])

In [39]:
# Detección por Puntuación Z
kiloemtros = deleted["kms"]
zscores = np.abs(stats.zscore(kiloemtros))
outliers_z = np.where(zscores > 3)[0]

# Elimina outliers por Puntuación Z
deleted = deleted.drop(deleted.index[outliers_z])

In [40]:
# Detección por Puntuación Z
potencia = deleted["power"]
zscores = np.abs(stats.zscore(potencia))
outliers_z = np.where(zscores > 3)[0]

# Elimina outliers por Puntuación Z
deleted = deleted.drop(deleted.index[outliers_z])

In [41]:
deleted = deleted.dropna(subset=["year", "make", "model", "fuel", "shift", "power"])
deleted['color'].fillna('Blanco', inplace=True)

In [42]:
deleted['price'] = np.log(deleted['price']+1)
deleted['power'] = np.log(deleted['power']+1)
deleted['kms'] = np.log(deleted['kms']+1)

In [43]:
train, test = train_test_split(deleted, test_size=0.2, random_state=42)

In [44]:
train.to_csv("../data/processed/train.csv")

In [45]:
test.to_csv("../data/processed/test.csv")

In [46]:
deleted.info()

<class 'pandas.core.frame.DataFrame'>
Index: 40595 entries, 1 to 49999
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   make             40595 non-null  object
 1   model            40595 non-null  object
 2   version          40595 non-null  object
 3   price            40595 non-null  float64
 4   fuel             40595 non-null  object
 5   year             40595 non-null  float64
 6   kms              40595 non-null  float64
 7   power            40595 non-null  float64
 8   doors            40595 non-null  int64
 9   shift            40595 non-null  object
 10  color            40595 non-null  object
 11  is_professional  40595 non-null  bool
dtypes: bool(1), float64(4), int64(1), object(6)
memory usage: 3.8+ MB